:root {
  --purple: #A973F5;
  --purple-light: #DAB8FC;
  --purple-extra-light: #EEDCFE;
  --purple-disabled: #8140B7;

  --blue: #6BD6C9;
  --blue-light: #A9EFE8;
  --blue-extra-light: #D0F9F6;
  --blue-disabled: #479B92;

  --green: #85EF87;
  --green-light: #C7F7C8;
  --green-extra-light: #E4FCE5;
  --green-disabled: #5CB25E;

  --yellow: #FFFA7B;
  --yellow-light: #FFFDBC;
  --yellow-extra-light: #FFFEDE;
  --yellow-disabled: #B3B34F;

  --red: #FA7DAD;
  --red-light: #FCC2D9;
  --red-extra-light: #FDE4EE;
  --red-disabled: #AF4F76;
}

.concert-one-title {
  font-family: "Concert One", sans-serif;
  font-style: normal;
  font-stretch: ultra-expanded;
}

.fredoka-regular {
  font-family: "Fredoka", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 380;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.logo img {
  height: 40px; /* Adjust size of logo */
}

.nav-links {
  display: flex;
  gap: 15px;
}

.btn{
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  color: black;
  background-color: rgb(237, 237, 237);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.4);
  transition: 0.1s;
}

.btn:hover{
  filter: brightness(0.95);
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.4);
  translate: 0 2px;
}

.btn:active{
  box-shadow: 0 0 0;
  translate: 0 5px;
}

.btn-border{
  border: 2px solid var(--blue);
}

.highlight {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 5px 0px var(--blue-disabled);
  transition: 0.1s;
}

.highlight:hover {
  box-shadow: 0 3px 0px var(--blue-disabled);
  filter: brightness(1.1);
}

.highlight:active{
  box-shadow: 0 0 0;
  translate: 0 5px;
}

.logo{
  text-decoration: none;
  color: var(--blue);
  font-size: xx-large;
}

.main-container{
  display: flex;
  margin: 20px 0;
}

.content-container{
  border-radius: 10px;
  background-color: var(--blue-extra-light);
  height: 70vh;
  margin: 10px 20px;
  padding: 20px;
}

.title{
  font-size: 70px;
  font-weight: 700;
  margin: 0 10px 0 0;
}

.subtitle{
  font-size: medium;
  overflow: hidden;
}

.content{
  font-size: 30px;
  overflow: hidden;
}